// Custom select button styling

select {
    background-color: #FFF;
    border-radius: 3px;
    padding: 5px 20px;
    color: $steel;

    &:active {
        outline: 0;
    }

    &:focus {
        outline: 0;
    }
}
