// Helpers.scss
// Helpers are single purpose classes




// 1. Margins
// 2. Paddings
// 3. Whitespace





// 1. Margins

.no-mb {
    margin-bottom: 0 !important;
}






// 2. Paddings

.no-pb {
    padding-bottom: 0 !important;
}







// 3. Whitespace

.ws-xlarge {
  padding-top: 40px;
  padding-bottom: 40px;

  @media #{$medium} {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
