// Helpers.scss
// Helpers are single purpose classes




// 1. Margins
// 2. Paddings
// 3. Whitespace





// 1. Margins

.no-mb {
    margin-bottom: 0 !important;
}






// 2. Paddings

.no-pb {
    padding-bottom: 0 !important;
}







// 3. Whitespace

.ws-large {
  padding-top: 60px;
  padding-bottom: 60px;
}
