// _variables.scss

// 1. Colors
// 2. Typhography
// 3. Whitespace





// 1. Colors

$grey: #909090; // Used in top-bar-links
$grey-2: #b3b2b2; // Used in .small-leading
$border-color: #d8d8d8;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;





// 2. Typhography

$primary-font-style: 'Lato', sans-serif !default;
$secondary-font-style: 'Cardo', serif !default;





// 3. Whitespace

$ws-xlarge: 270px;
$ws-large: 75px;
$ws-medium: 40px;
